.jumbotron-welcome {
    background-image: url('../images/skyline.jpeg');

    color: white;
}

.navbar-base {
    background-color: #504747;
    border-color: black;
    border-radius: 0;
    margin-bottom: 0px;
}

.thumb {
    width: 30px;
    height: 30px;
}

.image {
    width:100px;
    height: 100px;
}

.bg-main {
    background-color: #e1e1e1;
}

ul {
    list-style: none;
    margin-left: 0px;
}

li>a {
    margin-left: -15px;
    padding-left:0px;
}

.bars {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}