<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta
        name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'node_modules/font-awesome/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block css %}
    {% endblock css%}
    <title>Issue Tracker</title>
</head>
<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top nav-base">
        <h1><a href="{% url 'unresolved' %}" class="nav-brand text-secondary text-decoration-none">Issue Tracker</a></h1>
        <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#collapseNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse float-right" id="collapseNav">
            <ul class="nav navbar-nav nav-pills ml-auto ">
                <li class="nav-item"><a href="{% url 'unresolved' %}" class="nav-link pr-3 ml-2 ml-md-0">Home</a></li>
                <li class="nav-item"><a href="{% url 'create_ticket' %}" class="nav-link pr-3 ml-2 ml-md-0">Create ticket</a></li>
                <li class="nav-item">
                    <span class="navbar-text text-success pr-3 ml-2 ml-md-0">
                        Welcome {{ user.userinfo}}
                    </span>
                </li>
                <li class="nav-item"><a href="{% url 'profile' %}" class="nav-link pr-3 ml-2 ml-md-0">Profile</a></li>
                <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link pr-2 ml-2 ml-md-0">Logout</a></li>


            </ul>
<!--            <form class="form-inline" action="">-->
<!--                    <input class="form-control mr-sm-2" type="text" placeholder="Search">-->
<!--                    <button class="btn btn-success" type="submit">Search</button>-->
<!--                </form>-->
        </div>
    </nav>

    {% block content %}
    {% endblock %}
    <div class="row">
    <div class="col">
<footer class="footer text-center bg-secondary text-dark">&copy 2020 Dismas Banda email: bandadismas@gmail.com</footer>
        </div>
</div>
    <script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'node_modules/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    {% block js %}
    {% endblock %}
</body>
</html>