{% extends 'ticket_base.html' %}

{% block title %}
  <h1>Ticket Details</h1>
{% endblock %}

{% block data %}
        <table class="table">
    <tr>
      <th>Name</th>
      <td>{{ object.name }}</td>
    </tr>
    <tr>
      <th>Description</th>
      <td>{{ object.description|linebreaks }}</td>
    </tr>
    <tr>
      <th>Created by</th>
      <td>{{ object.created_by }}</td>
    </tr>
    <tr>
      <th>Date Created</th>
      <td>{{ object.date_created }}</td>
    </tr>
    <tr>
      <th>Date Resolved</th>
      <td>{{ object.date_resolved }}</td>
    </tr>
    <tr>
      <th>Priority</th>
      <td>{{ object.get_priority_display }}</td>
    </tr>
    <tr>
      <th>Status</th>
      <td>{{ object.get_status_display }}</td>
    </tr>
    <tr>
      <th>Assigned to</th>
      <td>{{ object.assigned_to }}</td>
    </tr>
    <tr>
      <th>Department Concerned</th>
      <td>{{ object.get_department_concerned_display}}</td>
    </tr>
  </table>
  <a role="button" class="btn btn-primary mb-5"
  href="{% url 'update_ticket' object.id %}">
  Update
</a>
    </main>
</div>
{% endblock %}

