{% extends 'base.html' %}

{% block content %}

<div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-xl-2 d-md-block bg-light sidebar collapse ">
      <div class="sidebar-sticky pt-5 pl-2">
        <ul class="nav flex-column ">
          <li class="nav-item ">
              <span class="font-weight-bolder">Tickets</span>
            <ul>
                <li class="nav-item">
                      <span class="font-weight-bold">My Tickets</span>
                        <ul>
                          <li class="nav-item">
                      <a class="nav-link" href="{% url 'assigned_to' %}">
                        Assigned to
                      </a>
                    </li>
                          <li class="nav-item">
                      <a class="nav-link" href="{% url 'created_tickets' %}">
                        Created
                      </a>
                    </li>
                        </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'unresolved' %}">
                      Unresolved
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">
                      All
                    </a>
                </li>
                <li class="nav-item">
                      <span class="font-weight-bold">Priority</span>
                        <ul>
                          <li class="nav-item">
                      <a class="nav-link" href="{% url 'high' %}">
                        High
                      </a>
                    </li>
                          <li class="nav-item">
                      <a class="nav-link" href="{% url 'medium' %}">
                        Medium
                      </a>
                    </li>
                          <li class="nav-item">
                      <a class="nav-link" href="{% url 'low' %}">
                        Low
                      </a>
                    </li>
                    </ul>
                </li>
              <li class="nav-item">
                        <span class="font-weight-bold">Status</span>
                  <ul>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'open' %}">
                          Open
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'in_progress' %}">
                          In progress
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'resolved' %}">
                          Resolved
                        </a>
                      </li>
                  </ul>
              </li>
              <li class="nav-item">
                        <span class="font-weight-bold">Departments</span>
                  <ul>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'engineering' %}">
                          Engineering
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'sales' %}">
                          Sales
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts' %}">
                          Accounts
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'hr' %}">
                          Human Resource
                        </a>
                      </li>
                  </ul>
              </li>
          </ul>
          </li>
        </ul>
      </div>
    </nav>

    <main id="main" role="main" class="col-md-9 col-xl-10 ml-sm-auto  pl-5 bg-main d-md-block ">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom border-secondary mr-3">
        {% block title %}
        {% endblock %}
      </div>
      {% block data %}
    {% endblock %}
    </main>
    <h3 id="showSideBar" class="bars ml-5 d-block d-md-none text-primary"><i class="fa fa-bars"></i></h3>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
    var toggle = true

    function swap()
    {

        if (toggle)
        {
            document.getElementById("sidebarMenu").classList.add("d-block");
            document.getElementById("main").classList.add("d-none");
            toggle = !toggle;
        }
        else
        {
            document.getElementById("sidebarMenu").className += "d-none";
            document.getElementById("main").className += "d-block";
            toggle = !toggle;
        }
    }

    document.getElementById("showSideBar").addEventListener("click", swap, false);
</script>
{% endblock %}